@font-face {
    font-family: 'Raleway_light';
    src: url('../assets/fonts/Raleway-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway_regular';
    src: url('../assets/fonts/Raleway-Regular.woff2') format('woff2'),
         url('../assets/fonts/Raleway-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway_medium';
    src: url('../assets/fonts/Raleway-Medium.woff2') format('woff2'),
         url('../assets/fonts/Raleway-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway_bold';
    src: url('../assets/fonts/Raleway-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Lato_regular';
    src: url('../assets/fonts/Lato-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Lato_bold';
    src: url('../assets/fonts/Lato-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

// Define SCSS font variables
$font-light: 'Raleway_light', sans-serif;
$font-regular: 'Raleway_regular', sans-serif;
$font-medium: 'Raleway_medium', sans-serif;
$font-bold: 'Raleway_bold', sans-serif;
$lato-bold: 'Lato_bold', sans-serif;
$lato-regular: 'Lato_regular', sans-serif;