// Font
$font-base-size: 1rem; 
$line-height-base: 1.5rem;
// Font family
$font_light :  'Raleway_light', sans-serif;
$font_regular: 'Raleway_regular', sans-serif;
$font_medium: 'Raleway_medium', sans-serif;
$font_bold:'Raleway_bold', sans-serif;
$lato_bold:"Lato_bold", sans-serif;
$lato_regular:'Lato_regular', sans-serif;
// Color
$primary-color: #17696A;
$secondary_color:#1E212C;
$c_text:#1D1F22;
$dark_variant:#43464E;
$gray_800:#424551;
$gray :#72757E;
$gray_700:#787A80;
$gray_600:#9A9CA5;
$gray_400:#D7DADD;
$light_gray:#E5E8ED;
$white:#fff;
$blue_light :#C0DDED;
$danger : #FF4242;
$pink:#E0AEA2;
$yellow_color:#FEDE41;


